<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Serilog.Fody" version="4.6.2" targetFramework="net47" />
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="AutofacSerilogIntegration" version="2.0.0" targetFramework="net46" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net47" />
  <package id="Destructurama.Attributed" version="2.0.0" targetFramework="net47" />
  <package id="Fody" version="3.2.4" targetFramework="net47" developmentDependency="true" />
  <package id="Janitor.Fody" version="1.6.3" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net47" />
  <package id="MoreLinq.Source.MoreEnumerable.DistinctBy" version="1.0.2" targetFramework="net47" developmentDependency="true" />
  <package id="Resourcer.Fody" version="1.7.1" targetFramework="net47" />
  <package id="Serilog" version="2.7.1" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net46" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net46" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net46" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>